.container {
	--offset: 2rem;
	--max-width: 1488px;

	margin: 0 auto;
	padding: 0 var(--offset);
	max-width: calc(var(--max-width) + var(--offset) * 2);
}

.title {
	color: var(--color-gray-600);
	font-weight: var(--font-weight-bold);

	h1& {
		font-size: var(--font-size-xl);
	}

	h2& {
		font-size: var(--font-size-sm);
	}

	&.title--color-reverse {
		color: var(--color-white);
	}
}

.description {
	color: var(--color-gray-600);

	p& {
		font-size: var(--font-size-base);
	}
}

button.action {
	--bg: transparent;
	--color: var(--color-gray-600);
	--border: 2px solid transparent;

	color: var(--color);
	font-family: initial;
	user-select: none;
	font-size: var(--font-size-sm);

	outline: none;
	padding: .5rem 1rem;
	border-radius: 1rem;
	border: var(--border);
	background-color: var(--bg);

	cursor: pointer;
	transition: background-color .3s, color .3s, opacity .3s, border-color .3s;

	&:hover {
		--bg: var(--color-gray-200);
	}

	&:focus,
	&:active {
		--border: 2px solid var(--color-accent);
	}

	&:disabled {
		--color: var(--color-gray-400);
		--bg: transparent;

		opacity: 0.6;
		cursor: not-allowed;
		pointer-events: none;

		&:hover {
			--bg: transparent;
		}

		&:focus,
		&:active {
			--border: 2px solid transparent;
		}
	}

	&.action--reverse {
		--bg: var(--color-gray-200);
		--color: var(--color-gray-600);

		&:hover {
			--bg: var(--color-gray-300);
			--color: var(--color-gray-700);
		}

		&:disabled {
			--color: var(--color-gray-400);
			--bg: var(--color-gray-100);

			opacity: 0.5;
			cursor: not-allowed;
			pointer-events: none;

			&:hover {
				--bg: var(--color-gray-100);
				--color: var(--color-gray-400);
			}

			&:focus,
			&:active {
				--border: 2px solid transparent;
			}
		}
	}
}

.link {
	--color: inherit;

	color: var(--color);
	font-family: inherit;
	font-weight: var(--font-weight-normal);

	cursor: pointer;
	user-select: none;
	transition: color .3s;

	&:hover {
		--color: var(--color-accent);
	}
}