*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

html,
body {
	min-height: 100vh;
}

html {
	font-size: 8px;
}

body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}