<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
		integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
		crossorigin="anonymous"></script>
	<title>JSON Kitty</title>
</head>

<body>
	<div class="wrapper layout">
		<header class="header">
			<div class="container">
				<div class="logo">
					<div class="logo__avatar">
						<img src="/static/images/favicon.png" alt="kitty">
					</div>
					<span class="logo__name">JSON Kitty</span>
					<span class="logo__description">Уютный форматер для ваших данных <i
							class="emoji emoji--leaf-1"></i></span>
				</div>
			</div>
		</header>


		<main class="main container">
			<div class="main__head">
				<div class="cover">
					<img src="https://cataas.com/cat" alt="cover">
				</div>

				<h1 class="title">JSON Форматер</h1>
				<p class="description">
					Сделайте ваш JSON красивым и читаемым, как осенние листья <span class="leaf-shiver"><i
							class="emoji emoji--leaf-2 anime anime--shiver"></i></span>
				</p>
			</div>

			{{ template "json_editor.html" .JsonEditorState }}
			{{ template "json_result.html" .JsonResultSate }}
		</main>

		<footer class="footer">
			<div class="footer__content">
				<span>Сделано с любовью к котикам и красивому коду</span>
				<span>Разработано: <a class="link" target="_blank" href="https://github.com/vnkot">@vnkot</a></span>
			</div>
		</footer>
	</div>

	<script src="/static/js/script.js"></script>
</body>

</html>