<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>JSON Kitty</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="logo">
					<div class="logo__avatar">
						<img src="/static/images/favicon.png" alt="kitty">
					</div>
					<span class="logo__name">JSON Kitty</span>
					<span class="logo__description">Уютный форматер для ваших данных <i
							class="emoji emoji--leaf-1"></i></span>
				</div>
			</div>
		</header>

		<main class="main">
			<div class="container">
				<div class="main__content">
					<div class="main__head">
						<div class="cover">
							<div class="cover__image">
								<img src="https://cataas.com/cat" alt="cover">
							</div>
							<div class="cover__badge"><i class="emoji emoji--leaf-1"></i></div>
						</div>

						<h1 class="title">JSON Форматер</h1>
						<p class="description">
							Сделайте ваш JSON красивым и читаемым, как осенние листья <span class="leaf-shiver"><i
									class="emoji emoji--leaf-2 anime anime--shiver"></i></span>
						</p>
					</div>

					<div class="main__body">
						<div class="json-card">
							<div class="json-card__head">
								<h2 class="title title--color-reverse"><i class="emoji emoji--write"></i> Исходный JSON
								</h2>
								<button class="json-card__action">Пример <i class="emoji emoji--kitty"></i></button>
							</div>
							<div class="json-card__body">
								<textarea placeholder="Введите ваш json здесь"></textarea>
							</div>
						</div>

						<div class="json-card json-card--with-placeholder">
							<div class="json-card__head">
								<h2 class="title title--color-reverse"><i class="emoji emoji--madgic"></i>
									Отформатированный JSON</h2>
							</div>
							<div class="json-card__body">
								<pre></pre>
								<div class="json-card__placeholder placeholder">
									<span class="placeholder__icon">🐾</span>
									<span class="placeholder__title">Здесь появится красивый JSON</span>
									<span class="placeholder__description">Как котик, свернувшийся клубочком</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="footer">
			<div class="footer__body">
				<span class="footer__cats"><i class="emoji emoji--kitty"></i></span>
				<div class="footer__content">
					<span>Сделано с любовью к котикам и красивому коду</span>
					<span>Пусть ваш JSON будет таким же уютным, как осенний вечер</span>
				</div>
				<span class="footer__leaf"><i class="emoji emoji--leaf-1"></i></span>
			</div>
		</footer>
	</div>
	<script src="/static/js/script.js"></script>
</body>

</html>